@font-face {
    font-family: 'merel-blackuploaded_file';
    src: url('../fonts/merel_black-webfont.eot');
    src: url('../fonts/merel_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merel_black-webfont.woff2') format('woff2'),
         url('../fonts/merel_black-webfont.woff') format('woff'),
         url('../fonts/merel_black-webfont.ttf') format('truetype'),
         url('../fonts/merel_black-webfont.svg#merel-blackuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merel-bolduploaded_file';
    src: url('../fonts/merel_bold-webfont.eot');
    src: url('../fonts/merel_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merel_bold-webfont.woff2') format('woff2'),
         url('../fonts/merel_bold-webfont.woff') format('woff'),
         url('../fonts/merel_bold-webfont.ttf') format('truetype'),
         url('../fonts/merel_bold-webfont.svg#merel-bolduploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merel-lightuploaded_file';
    src: url('../fonts/merel_light-webfont.eot');
    src: url('../fonts/merel_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merel_light-webfont.woff2') format('woff2'),
         url('../fonts/merel_light-webfont.woff') format('woff'),
         url('../fonts/merel_light-webfont.ttf') format('truetype'),
         url('../fonts/merel_light-webfont.svg#merel-lightuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merel-mediumuploaded_file';
    src: url('../fonts/merel_medium-webfont.eot');
    src: url('../fonts/merel_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merel_medium-webfont.woff2') format('woff2'),
         url('../fonts/merel_medium-webfont.woff') format('woff'),
         url('../fonts/merel_medium-webfont.ttf') format('truetype'),
         url('../fonts/merel_medium-webfont.svg#merel-mediumuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merel-thinuploaded_file';
    src: url('../fonts/merel_thin-webfont.eot');
    src: url('../fonts/merel_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merel_thin-webfont.woff2') format('woff2'),
         url('../fonts/merel_thin-webfont.woff') format('woff'),
         url('../fonts/merel_thin-webfont.ttf') format('truetype'),
         url('../fonts/merel_thin-webfont.svg#merel-thinuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merel-regularuploaded_file';
    src: url('../fonts/merel-webfont.eot');
    src: url('../fonts/merel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merel-webfont.woff2') format('woff2'),
         url('../fonts/merel-webfont.woff') format('woff'),
         url('../fonts/merel-webfont.ttf') format('truetype'),
         url('../fonts/merel-webfont.svg#merel-regularuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
       width: 100%;
       margin: 0%;    
}
.navbar-default .navbar-nav > li > a{
    font-size: 12px !important;
}
h1{
    color: #1d1d1d;
}
.h200{
    min-height: 200px;
}
.pad_lr15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.pad_t30{
    padding-top: 30px;
}
.pad_t60{
    padding-top: 60px;
}
.pad_t15{
    padding-top: 15px;
}
.pad_b30{
    padding-bottom: 30px;
}
.pad_b60{
    padding-bottom: 60px;
}
.pad_b15{
    padding-bottom: 15px;
}
.pad_tb60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.mar_tb60{
    margin-top: 60px;
    margin-bottom: 60px;
}
.mar_tb30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mar_b30{
    margin-bottom: 30px;
}
.mar_tb45{
    margin-top: 45px;
    margin-bottom: 45px;
}
.mar_b45{
    margin-bottom: 45px;
}
.mar_lr30{
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mar_lr60{
    margin-left: 60px !important;
    margin-right: 60px !important;
}
/*.carousel-inner .item{
    display: table;
}
.carousel-inner .carousel-box{
    display: table-cell;
}*/

.img-responsive{
    width: 100%;
}
.carousel-inner{
}
.carousel-left {
    background-color: #4f9de6;
}

.carousel-right{
    /*background-color: #6ed37f;*/
}
.carousel-caption {
    
}
.carousel-caption h1{
    font-family: 'merel-bolduploaded_file';
}
.carousel-caption p{
    font-size: 22px;
}
.carousel-left, .carousel-right{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.prod-left-cover, .prod-right-cover{
    padding: 30px;
    border:1px solid #fff;
    border-radius: 3px;
}
.prod-left-cover h3, .prod-right-cover h3{
    color: #000;
}
.prod-left-cover:hover, .prod-right-cover:hover{
    background-color: #f4f7fb;
    border-color: #cedef2;
    padding: 30px;
}
.btn-oval{
    border-radius: 20px;
    padding-left: 65px;
    padding-right: 65px;
    font-size: 16px;
    font-weight: bold;
}
.future-btn-group button{
    font-family: 'merel-bolduploaded_file';
    color: #4f9de6;
    padding: 10px 35px;
    font-size: 16px;
    /*border-color: #d3d9de;*/
}
.future-btn-group .btn-left{

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.future-btn-group .btn-right{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.future-btn-group .active, .future-btn-group button:hover{
    background-color: #4f9de6;
    color: #fff;
}
.virtual-office-tab img{
    /*max-width: 100px;*/
}
.btn-voffice{
    background-color: #fff;
    border-color: #d3d9de;
}
.footer{
    border-top: 1px solid #d3d9de;
}
.footer-menu li a{
    font-weight: 700;
    color: #a9a9a9;
}

.newsletter-form .subscribe-input{
    border-radius: 30px;
    height: 44px !important;
}

.newsletter-form .control-label{
    padding-top: 10px !important;
}
.footer-logo{
    text-align: center;
}
.m-blue {
    background-color: #4f9de6;
}

.m-green{
    background-color: #6ed37f;
}

.navbar{
    padding-top: 0px;
}
.box-tb{
    display: none;
}
.partner-menu{
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
.partner-menu li{
    margin: 5px 30px;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}

.partner-menu .active{
    border-bottom: 3px solid #4f9de6;
}
.f-18{
    font-size: 18px;
}
.f-22{
    font-size: 22px;
}
body{
    color: #bcbcbc;
}
.box-tb{
    font-weight: bold;
}
.line-60{
    line-height: 60px;
}
.contactBtn{
	width: 300px;
}
.carousel-box .item{
    min-height: 650px;
}
.carousel-caption{
    text-align: center !important;
}
.carousel-caption h1, .carousel-caption p{
    text-align: left; !important;
}
.mar_t150{
    margin-top: 150px;
}
.top_55{
    top: 55px;
}
.carousel-caption h1{
    color: #fff;
}
.car2 .carousel-caption {
  top: 45%;
}
.btn-border {
    color: #ffffff;
    /*background-color: #60cc5d;*/
    border-color: #fff;
}
.btn-border:hover {
    color: #D0D0D0;
    border-color: #D0D0D0;
}
.playBtn{
    font-size: 120px;
    color: #DFF0D8;
}
.playBtn:hover, .playBtn:focus{
    text-decoration: none !important;
    color: #fff;
    outline: none !important;
}
.video-bg-img{
    background-image: url(../images/mystore.png);
    background-size: contain; 
}
/*.video-bg-img:hover{
    opacity: .7;
}*/
.carousel-caption {
  text-shadow: none !important;
}